# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
build/
.next/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

#Model Dataset
ai_server/data/
ai_server/models/
ai_server/venv/